<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="https://avatars.githubusercontent.com/u/83458134?s=400&u=550fab2e03b3718770b666192c6f9c6b4d25739a&v=4">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Admin
						<span class="user-level">Eda Güneş</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profili Düzenle</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-pie-chart"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ToDoList/Index">
					<i class="la la-pie-chart"></i>
					<p>To Do List</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-female"></i>
					<p>Hakkımda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList">
					<i class="la la-archive"></i>
					<p>Deneyimler</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-phone-square"></i>
					<p>İletişim Bilgileri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="typography.html">
					<i class="la la-github-square"></i>
					<p>Portfolyo</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-hand-spock-o"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Referanslarım</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-linkedin"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Inbox">
					<i class="la la-weixin"></i>
					<p>Gelen Mesajlar</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="/Default/Index">
					<i class="la la-hand-o-right"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-user-times"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		
		</ul>
	</div>
</div>